<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./navbar.css">
</head>
<body>
    <div class="navbar-container"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cupiditate porro explicabo voluptate velit id soluta ad minus! Eaque dolorum obcaecati optio quae, voluptate eius inventore voluptas ullam nisi pariatur.
    Illum maxime, ratione vel rerum dolore sunt perferendis? Voluptatum laudantium quaerat voluptates sit, reiciendis eos animi minima doloremque blanditiis, est voluptatem! Aut similique cum in non repellat neque quod expedita.
    Porro ratione quasi nam modi magnam sunt nisi vel ducimus, cum nesciunt molestiae facere distinctio facilis enim incidunt consectetur dolorem, culpa quas earum architecto beatae non. Iusto quas quos voluptas!
    Quas tempore culpa fuga ducimus nostrum, ex praesentium repellendus! Numquam laborum odio at hic suscipit, ratione natus optio atque maiores laudantium facilis iusto ipsa, reprehenderit maxime debitis quos dicta pariatur!
    Nisi quam recusandae facere commodi vel porro, placeat voluptate hic dolorum veniam nulla sed quod doloribus! Illum, optio ipsam? Quasi repellat cum praesentium voluptas iure aperiam est neque atque quaerat?
    Illum, consectetur blanditiis est, suscipit error dolor dolore porro recusandae doloremque autem molestias. Temporibus reiciendis nihil porro esse. Explicabo amet quasi sint nostrum possimus doloribus voluptas vitae inventore modi beatae.
    Saepe enim nihil sapiente voluptas ullam pariatur nemo tenetur qui. Expedita nemo veniam, suscipit corporis amet sit iure non deleniti commodi fugit, numquam quos officia, porro eius aut animi voluptatum!
    Minima similique itaque omnis, aspernatur consectetur culpa quis error consequuntur officiis odio soluta adipisci expedita saepe ea qui veritatis numquam quibusdam eos? Quia aperiam harum magni voluptates dignissimos obcaecati enim!
    Vero tempora, vitae omnis eaque deserunt id officia molestiae ipsum porro rerum obcaecati ad iste dicta a sit assumenda repellat quidem architecto harum. Veritatis non est ratione sint soluta recusandae.
    Harum, accusamus adipisci quam, magnam, eveniet repellat nesciunt voluptate aliquid assumenda quae cumque nisi debitis tempora voluptates nam consectetur enim consequuntur porro pariatur accusantium. Adipisci, iure blanditiis. Ad, eligendi accusantium.</p>
    <script src="./navbar.js"></script>
</body>
</html>