:root {
    --body-link-fs: 3.6vw;
}

* {
    font-family: "Averia Serif Libre", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #e3eef4;
}

a {
    color: inherit;
}
a:hover {
    text-decoration: underline;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    */align-items: center;
    /*background-color: #90E0EF;
    background-color: #e9e9e9;
    backdrop-filter: blur(5px);
    */background-image: url(./assets/bg/blob.svg);
    animation: 20s bg-animate infinite alternate;
    -webkit-animation: 20s bg-animate infinite alternate;
}

@keyframes bg-animate {
    from {
        background-position-x: 0%;
        background-position-y: 0%;
    }

    to {
        background-position-x: 100%;
        background-position-y: 80%;
    }
}




.content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    max-width: min-content;
    height: calc(var(--body-link-fs)*16*2);
    gap: var(--body-link-fs);
    
}



h1 {
    font-size: 3.6vw;
    font-weight: 500;
}
h2 {
    font-size: 1.4vw;
    font-weight: 200;
    opacity: 0.6;
}

.resources {
    /* border:solid 2px red; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap:12px;
    padding: 10px;
    width: fit-content;
}

.title-text {
    display: inline;
    color: inherit;
    font-size: var(--body-link-fs);
    font-weight: 100;
    line-height: calc(var(--body-link-fs)*1.1);
    opacity: 0.9;
    text-wrap: nowrap;
    overflow-x: visible;
    background-color: #00000000;
}

.resources:hover {
    opacity: 1;
    color: #003550;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(240, 248, 255, 0.702);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
/* 
.resources:hover {
    opacity: 1;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.title-text:hover{
    font-weight: 700;
    text-wrap: nowrap;
    color: #003550;
    background-color: rgba(240, 248, 255, 0.702);
    padding:5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
} */

.arrow-animation {
    display: none;
    height: calc(var(--body-link-fs)*0.8);
    width: calc(var(--body-link-fs)*0.8);
    opacity: 0.8;
    top: scale(1.4);
    -webkit-top: scale(1.4);
    -moz-top: scale(1.4);
    -ms-top: scale(1.4);
    -o-top: scale(1.4);
}

.description-text {
    /* border: 2px red solid; */
    max-width: fit-content;
    display: none;
    background-color: #00000000;
    color: inherit;
    padding: 0;
    margin-left:5px;
}

.bg-svg{
    position: absolute;
    height: inherit;
}
.bg-svg * {
    position: fixed;
    bottom:0;
    left: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.open {
    opacity: 1;
    color: #003550;
    background-color: rgba(240, 248, 255, 0.702);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* .display-area {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    border: 2px red solid;
    background-color: aliceblue;
} */

/* .highlight-0{
    top: 0vw;
    left:0px;
}
.highlight-1{
    top: 10vw;
    right: 0px;
}
.highlight-2{
    top: 30vw;
    left:0px;
}
.highlight-3{
    top: 50vw;
    right:0px;
}
.highlight-4{
    top: 70vw;
    left:0px;
}
.highlight-5{
    top: 90vw;
    right:0px;
}
.highlight-6{
    top: 100vw;
    left:0px;
} */
