body {
    background: #131418;
    padding: 10px;
}
  
* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

h1 { 
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 40px;
}
  
.grid {
    text-align: center;
    max-width: 95vw;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    gap: 13px;
    height: max(100%,100vh);
}

.grid-items{
    width:100%;
}

.cols {
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

img {
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

@media only screen and (max-width: 600px){
    .grid {
        flex-direction: column;
        padding:40px;
        gap: 20px;
    }
    .cols {
        gap: 20px;
    }
}