:root {
    --z-index-image-hover: 5;
    --before-hover-opacity: 0;
    --hover-card-opacity: 1;
    --hover-grid-opacity: 0.5;
    --mobile-hover-card-opacity: 0.8;
    --card-icons-size: 1.4rem;
    --fs-xlarge: clamp(3rem,9.5vw, 5rem);
    --fs-large: clamp(1rem, 8vw ,2rem);
    /* --fs-med: 5vw; */
    --fs-med: clamp(1rem,8vw ,1.5rem);
    --fs-small: clamp(0.5rem, 7vw, 0.9rem);
    /* --fs-small: 1rem; */
    --fs-xsmall: clamp(0.05rem, 6vw, 0.8rem);
    /* --fs-xsmall: 0.5rem; */

    --nav-border-color: #e3eef49a;

    --body-bg-color: #011830;
    --light-bg-color: #003550;
    --dark-bg-color: #072839;
    --title-font-color: rgb(230, 229, 236);
    --font-family: "Averia Serif Libre", serif !important;
    font-family: var(--font-family);
    scroll-behavior: smooth;

    --navbar-hover-color:#3c65a2be !important; 
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
    /* font-family: var(--font-family) !important;  */
}

body{
    background: var(--light-bg-color);
    /* font-family: var(--font-family); */
}
.layout {
    /* background: #131418; */
    padding: 10px;
    position: relative;
    max-width: 100%;
   
    font-family: var(--font-family);
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.navbar{
    margin-top:2rem;
    border-color: var(--nav-border-color) !important;
}
.navbar__menu-item a {
    color: var(--title-font-color) !important;
}
.navbar__logo img{

    width: 100px;
    margin-bottom: 20px;
}
.navbar__menu-item a:hover,
.navbar__menu-item a.active {
    background-color: var(--rich-gold);
}

h1 { 
    color: var(--title-font-color);
    margin-left: 30px;
    margin-top: 30px;

    font-size: var(--fs-xlarge);
    /* 40px */
}

.title-bar {
    position: relative;
    margin-bottom: 1rem;
}

/* CLUB - LOGO */
.club-logo {
    height: 100%;
    width: auto;
    position: absolute;
    top: 1vw;
    right: 3vw;
    z-index: 10;
}
.club-logo > * {
    width: 100%;
    height: 100%;
}
  
.grid {
    text-align: center;
    max-width: 95vw;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    gap: 13px;
    height: max(100%,100vh);
    transition: opacity 0.25s ease-in;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -ms-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
}

.grid-item{
    width:100%;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}

.cols {
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

img {
    width: 100%;
}

/* card content animation */
.content {
    opacity: var(--before-hover-opacity);
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    padding: 2rem;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0), rgba(50, 50, 50, 0.3) 15%, rgba(0, 0, 0, 1));
    color: white;
    height: fit-content;
    width: 100%;
    max-height: 100%;
    min-height: 50%;
    font-size: var(--fs-xsmall);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
}

.content > * {
    padding: 0;
    margin: 0;
}

.content .name {
    font-size: var(--fs-large); 
    /* 2rem */
    font-weight: 500;
}

.content .title {
    font-size: calc(var(--fs-xsmall)+0.1rem);
    font-style: italic;
    opacity: 0.8;
    margin-bottom: -5px;
}

.content .description {
    font-size: calc(var(--fs-xsmall)+0.2rem);
    font-weight: 300;
    opacity: 0.8;
}

.links {
    display: flex;
    width: fit-content;
    gap: 1rem;
}

.links img {
    width: var(--card-icons-size);
    height: var(--card-icons-size);
}

.grid-item:hover .content{
    opacity: var(--hover-card-opacity);
}

.grid-item:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    z-index: var(--z-index-image-hover);
}

.grid:hover .grid-item:not(:hover) {
    opacity: var(--hover-grid-opacity);
}

@media (hover: none) and (pointer: coarse) {
    .content {
        position: static;
        font-size: var(--fs-small);
        opacity: var(--hover-card-opacity);
        background-color: #131418;
        gap: 0.5rem;
    }
}

@media only screen and (max-width: 600px){
    .grid {
        flex-direction: column;
        padding:40px;
        gap: 20px;
    }
    .cols {
        gap: 20px;
    }
    .content {
        height: 100%;
        background: rgba(50, 50, 50, 0.6);
    }
    .content > * {
        font-size: minmax(var(--fs-xsmall),50vw);
        /* 90% */
    }

    .grid:hover .grid-item:not(:hover) {
        opacity: var(--mobile-hover-card-opacity);
    }
}

.animate-fade-in {
    animation: fade-in 1s linear forwards;
  }
  @keyframes fade-in {
    from {
      transform: translateY(15px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes typewriter {
    from {
      width: 0; 
      
    }
    to { 
      
      width: 100%;
     
    }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(255, 255, 255); }
  }
  .animate-typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right:  solid transparent;
    max-width: fit-content;
    animation: typewriter 4s steps(30) 1s 1 normal both, blink-caret .75s step-end 1s 7; /* Typewriter animation */
  }
    
  @media  screen and (max-width: 450px){
    h1{
      font-size: 2.5rem;
    }
    
  }